{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Api Credentials</div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Token</th>
                            <th>Api Provider</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Token</th>
                            <th>Api Provider</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for credential in credentials %}
                            <tr>
                                <td>{{ credential.userName }}</td>
                                <td>{{ credential.accessToken }}</td>
                                <td>{{ credential.apiProvider.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Add Credential</div>
                    </div>
                </div>
                <div class="card-body">

                    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}

                    <div class="form-group">
                        {{ form_label(form.userName) }}
                        {{ form_widget(form.userName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.accessToken) }}
                        {{ form_widget(form.accessToken) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.apiProvider) }}
                        {{ form_widget(form.apiProvider) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.submit) }}
                        {{ form_widget(form.submit) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
